 <br>

 <h1><%= @gossip_id.title %></h2>

 <p><%= @gossip_id.content %></p>

<% x=@gossip_id%>
<% puts @gossip_id %>
<br>
<p>
 <a href="/gossip/user/<%@gossip_id%>" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Link</a>
</p>




