<h1>
  Nous sommes une bonne petite équipe d'informaticiens.
</h1>

<p>
  Nous aimons jouer aux jeux vidéos mais nous aimons aussi la vie en général. 
  Mais surtout la vie dans les jeux vidéos quand même. 
</p>
